<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="pcPosDevices" type="Sadad.PcPos.WcfService.Config.PcPosDevicesSection, Sadad.PcPos.WcfService" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <!--<file value="PcPosRest.log" />-->
      <file value="logs\" />
      <datePattern value="yyyy.MM.dd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>
    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <!--<level value="DEBUG" />-->
      <level value="Info" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <pcPosDevices>
    <add name="default" deviceType="0" serialPort="COM0" baudRate="115200" stopBits="1" terminalId="001" merchantId="00000000001" tag="pos0" />
    <add name="COM8" deviceType="0" serialPort="COM8" baudRate="115200" stopBits="1" terminalId="001" merchantId="01010101010" tag="pos1" />
    <add name="COM9" deviceType="0" serialPort="COM9" baudRate="115200" stopBits="1" terminalId="001" merchantId="65463102361" tag="pos2" />
  </pcPosDevices>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="3.5.0" />
    <httpRuntime targetFramework="3.5.0" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="textPlainToApplicationJson">
          <webMessageEncoding webContentTypeMapperType="Sadad.PcPos.WcfService.RawContentTypeMapper, Sadad.PcPos.WcfService, Version=5.1.227.1337, Culture=neutral, PublicKeyToken=null" />
          <httpTransport manualAddressing="true" />
          <!--<httpsTransport manualAddressing="true"/>-->
        </binding>
        <binding name="textPlainToApplicationJsonSecure">
          <webMessageEncoding webContentTypeMapperType="Sadad.PcPos.WcfService.RawContentTypeMapper, Sadad.PcPos.WcfService, Version=5.1.227.1337, Culture=neutral, PublicKeyToken=null" />
          <!--<httpTransport manualAddressing="true"/>-->
          <httpsTransport manualAddressing="true" />
        </binding>
      </customBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="Sadad.PcPos.WcfService.EnableCrossOriginResourceSharingBehavior, Sadad.PcPos.WcfService, Version=5.1.227.1337, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="restfulBehavior">
          <!--To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment-->
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true" />
          <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="testChannelBehavior">
          <webHttp />
          <!--<crossOriginResourceSharingBehavior />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="restfulBehavior" name="Sadad.PcPos.WcfService.SadadPcPos">
        <clear />
        <endpoint address="http://localhost:8050/" behaviorConfiguration="testChannelBehavior"
          binding="customBinding" bindingConfiguration="textPlainToApplicationJson"
          name="httpEndpoint" contract="Sadad.PcPos.WcfService.ISadadPcPos" />
        <endpoint address="https://localhost:8051/" behaviorConfiguration="testChannelBehavior"
          binding="customBinding" bindingConfiguration="textPlainToApplicationJsonSecure"
          name="httpsEndpoint" contract="Sadad.PcPos.WcfService.ISadadPcPos" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8050/" />
            <add baseAddress="https://localhost:8051/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Sadad.PcPos.Core" publicKeyToken="dad9b7f82dee0171" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.412.1159" newVersion="5.3.412.1159" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>